<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">NG Contacts
                <a routerLink="/contact/add" class="btn btn-danger ">
                    <i class="fa fa-plus-circle"></i>New</a>
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Facere temporibus quos natus
                cupiditate vitae, repellendus tempora adipisci pariatur ullam nemo,
                similique in exercitationem quasi
                neque molestias suscipit quod laudantium ab?
            </p>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" placeholder="Search User" 
                                 [(ngModel)]="searchQuery" name="name"
                                    type="text">
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-dark" 
                                 (click)="searchContacts()">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!---spinner loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- error message -->
<div *ngIf="!loading && errorMessage">
    <div class="conatiner">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>


<!-- Card -->
<div *ngIf="!loading && contacts.length > 0" class="container mt-3">
    <div class="row align-item-center">
        <div *ngFor="let contact of contacts" class="col-md-6">
            <div class="card list-group-item-danger shadow-lg my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img [src]="contact.photo" class="contact-img">
                        </div>
                        <div class="col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">Name<span class="fw-bold">
                                        {{contact.name}} </span></li>
                                <li class="list-group-item">Email<span class="fw-bold">
                                        {{contact.email}}</span></li>
                              <li class="list-group-item">Moblie No.<span class="fw-bold">
                                        {{contact.mobile}}</span></li>
                            </ul>
                        </div>

                        <div class="col-sm-1 justify-content-center 
                    align-item-center icon">
                            <a class="btn btn-warning btn-sm my-1 pr-1" 
                             routerLink="/contact/view/{{contact.id}}">
                                <i class="fa fa-eye"></i></a>

                            <a class="btn btn-primary btn-sm my-2" 
                             routerLink="/contact/edit/{{contact.id}}">
                                <i class="fa fa-pen"></i> </a>

                            <button (click)="clickDeleteContact(contact.id)" 
                            class="btn btn-danger btn-sm my-1">
                                <i class="fa fa-trash-alt"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>