<div class="container">
    <div class="row">
        <div class="col">
            <p class=" h3 fw-bold text-danger">Add Contact</p>
            <P class="fst-italic "> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi maiores excepturi, tempore illo quae accusamus repellendus quidem quia sint blanditiis iusto enim nesciunt possimus provident? Minima corporis nihil temporibus tenetur.</P>
        </div>
    </div>
</div>
<br>

<!---spinner loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- error message -->
<div *ngIf="!loading && errorMessage">
<div class="conatiner">
    <div class="row">
        <div class="col">
<p class="h4 text-danger fw-bold">{{errorMessage}}</p>
        </div>
    </div>
</div>
</div>

<!-- create contact -->
<div  class="conatiner">
    <div class="row">
        <div class="col-sm-4">
            <form (ngSubmit)="createSubmit()">
                <div class="mb-2">
                <input required="true"
                [(ngModel)]="contact.name" name="name" class="form-control" type="text" 
                 placeholder="Name">
            </div>
            <div class="mb-2">
                <input required="true"
                [(ngModel)]="contact.photo" name="photo"
                type="text" class="form-control" placeholder="PhotoUrl">
            </div>
            <div class="mb-2">
                <input required="true"
                [(ngModel)]="contact.email" name="email"
                type="text" class="form-control" placeholder="Email">
            </div>
            <div class="mb-2">
                <input required="true"
                [(ngModel)]="contact.mobile" name="mobile"
                 type="number" class="form-control" placeholder="Mobile">
            </div>
            <div class="mb-2">
                <input required="true"
                [(ngModel)]="contact.company" name="company"
                type="text" class="form-control" placeholder="Company">
            </div>
            <div class="mb-2">
                <input required="true"
                [(ngModel)]="contact.title" name="title"
                 type="text" class="form-control" placeholder="Title">
            </div>
            <div class="mb-2">
                <select required="true"
                [(ngModel)]="contact.groupId" name="group" *ngIf="groups.length>0"  
                 class="form-control">
                    <option  value="">Select Group</option>
                    <option [value]="group.id" *ngFor="let group of groups"> {{group.name}} 
                    </option>
                </select>
            </div>
            <div class="mb-2">
                <input type="submit" class="btn btn-danger" value="Create">
                <a  class="btn btn-dark ms-2" routerLink="/" >Close</a>
            </div>
            </form>
        </div>
        <div class="col sm-4">
            <img [src]="contact.photo" class="contact-img">
        </div>
    </div>
</div>
